*{
    padding: 0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(241, 246, 248);
}

header nav{
    /* border: 2px solid black; */
    display: flex;
    height: 82px;
    width: 1200px;
    margin: 20px auto 20px auto;
    justify-content: space-between;

}

header nav img[id="logo"]{
    /* border: 2px solid red; */
    width: 130px;
    height: 80px;
}

#cart-icon{
    width: 19px;
    height: 19px;
}
header nav .nav-container{
    /* border: 2px solid green; */
    display: flex;
    align-items: flex-start;
    width: 500px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

header nav .nav-container .nav-links{
    /* border: 2px solid yellow; */
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

header nav .nav-container .cart{
    /* border: 2px solid blue; */
    width: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links span, .cart span{
    font-size: 14px;
}

#shop-span, #aboutus-span{
    color: rgb(166, 165, 165);
}

#home-span{
    font-weight:600;
}

.first-part{
    /* border: 2px solid black; */
    display: flex;
    width: 1200px;
    margin: 20px auto 20px auto;
    margin-top: 80px;
    align-items: end;
    justify-content:space-between;
}

.first-part .paragraph{
    /* border: 2px solid red; */
    height: 200px;
    width: 480px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 50px;
    gap: 10px;


}

.first-part .paragraph h1{
    font-size: 60px;
    color: orangered;
}

#always{
    color: black;
}

.first-part .paragraph p{
    color: gray;
    /* border: 2px solid green; */
    width: 380px;
}

.first-part img{
    width: 450px;
    height: auto;
}

.second-part{
    /* border: 2px solid black; */
    width: 1200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.second-part h1{
    font-size: 40px;
}

.second-part p{
    /* border: 2px solid green; */
    width: 698px;
    text-align: center;
    color: gray;
}

#our{
    color: orangered;
}

.second-part .plant-grid{
    /* border: 2px solid black; */
    width: 1065px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

}

.second-part .plant-grid .plant{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    gap: 10px;

}

.second-part .plant-grid .plant img{
    width: 250px;
    height: auto;
}

.second-part .plant-grid .plant button{
    width: 250px;
    height: 40px;
    color: white;
    background-color: orangered;
    border: 0;
}

.third-part{
    /* border: 2px solid red; */
    display: flex;
    width: 1100px;
    height: 500px;
    margin: 20px auto;
    justify-content:flex-start;
    gap: 70px;
    position: relative;
}

.third-part #flower-store{
    width: 500px;
    height: 500px;
}

.third-part #trusted-badge{
    position: absolute;
    z-index: 100;
    left: 350px;
    top:-90px;
    width: 220px;
    height: 220px;
    object-fit: cover;
    background-color: transparent;
}
.third-part .des-flower{
    /* border: 2px solid blue; */
    padding: 20px;
    width: 400px;


}
.third-part .des-flower h1{
    font-size: 40px;
    margin-top: 50px;
}
.third-part .des-flower ul{
    margin-left: 50px;
    margin-top: 20px;
}

.third-part .des-flower ul li{
    padding: 5px;
}